<a href="https://colab.research.google.com/github/nerd-nafis/bubble-bot/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
#(A)
number=24
while number>=-6:
  if(number!=24): print(", ", end="")
  print(number, end="")
  number-=6

24, 18, 12, 6, 0, -6

In [ ]:
#(B)
number=-10
while number<=20:
  if(number!=-10): print(", ", end="")
  print(number, end="")
  number+=5

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#(C)
number=18
while number<=63:
  if(number!=18): print(", ", end="")
  print(number, end="")
  number+=9

18, 27, 36, 45, 54, 63

In [ ]:
#(D)
number=18
flag=1
while number<=63:
  if(number!=18): print(", ", end="")
  if(flag%2==0): print("-",end="")
  print(number, end="")
  flag+=1
  number+=9

18, -27, 36, -45, 54, -63

Task 2

In [ ]:
car=input()
num=int(input())
while num:
  print(car)
  num-=1

Toyota
2
Toyota
Toyota

Task 3

In [ ]:
sum=0
for i in range(1,601):
  if(i%7==0 and i%9==0):
    sum+=i
print(sum)

2835

Task 4

In [ ]:
sum=0
for i in range(1,601):
  if(i%7==0 and i%9==0): continue
  elif(i%7==0 or i%9==0):
    sum+=i
print(sum)

39814

Task 5

In [ ]:
for i in range(10,51):
  if(i==11): print(i, end="")
  elif(i%2!=0): print(" ", i,end="")

11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49

Task 6

In [ ]:
sum=0
n=int(input())
for i in range(1,n+1):
  if(i%2==0): sum-=i**2
  else: sum+=i**2
print(sum)

10
-55

Task 7

In [ ]:
count=0; sum=0
for i in range(10):
  x=int(input())
  if(x%2!=0): 
    count+=1
    sum+=x
avg=sum/count
print(f"The total of the odd numbers is {sum} and their average is {avg}")

-20
13
-5
40
-17
10
20
-8
99
-20
The total of the odd numbers is 90 and their average is 22.5

Task 8

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  if(i%7==0): sum+=i
print(sum)

50
196

Task 9

In [ ]:
sum=0
for i in range(5):
  x=int(input())
  sum+=x
  print(sum)

1
1
2
3
3
6
4
10
5
15

Task 9 using list

In [ ]:
sum=0
lst=[]
for i in range(5):
  x=int(input())
  sum+=x
  lst.append(sum)
for i in lst:
  print(i)

1
2
3
4
5
1
3
6
10
15

Task 10

In [ ]:
num=int(input())
first=True
while num>0:
  digit=num%10
  num//=10
  if(first!=True): print(", ", end="")
  print(digit, end="")
  first=False

32768
8, 6, 7, 2, 3

Task 11

In [ ]:
n=int(input())
count=0
while n!=0:
  n//=10
  count+=1
print(count)

3875
4

Task 12

In [ ]:
n=int(input())
number=n
count=0
while n!=0:
  n//=10
  count+=1
i=count

while i>0:
  if(i!=count): print(",", end=" ")
  digit=number%(10**i)
  digit//=(10**(i-1))
  print(digit, end="")
  i-=1

32768
3, 2, 7, 6, 8

Task 13

In [ ]:
num=int(input())
count=0
for i in range(1,num+1):
  if(num%i==0):
    print(i)
    count+=1
print(f"Total {count} divisors.")

121
1
11
121
Total 3 divisors.

Task 14

In [ ]:
num=int(input())
count=0
for i in range(1,num+1):
  if(num%i==0):
    if(i!=num): count+=i
if(count==num): print(f"{num} is a perfect number")
else: print(f"{num} is not a perfect number")

33
33 is not a perfect number

Task 15

In [ ]:
import math
num=int(input())
flag=True
for i in range(2,(int(math.sqrt(num))+1)):
  if(num%i==0):
    flag=False
    break
if(flag==True): print(f"{num} is a prime number")
else: print(f"{num} is not a prime number")

19
19 is a prime number

Task 16

In [ ]:
mx=-2147483648
mn=2147483647
T=int(input())
sum=0
for i in range(T):
  x=int(input())
  if(mx<x): mx=x
  if(mn>x): mn=x
  sum+=x
print("Maximum", mx)
print("Minimum", mn)
print("Average is", sum/T)

5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

Task 17

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    print("+", end="")
  print("")

5
+++++
+++++
+++++
+++++
+++++

Task 18

In [ ]:
r=int(input())
c=int(input())
for i in range(1,r+1):
  for j in range(1,c+1):
    print(j, end="")
  print("")

3
2
12
12
12

Task 19

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1, i+1):
    print(j, end="")
  print("")

4
1
12
123
1234

Prac 1